
.messages{
    /* position: relative; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding:5px 10px;
    height: 100%;
    max-width: 300px;
    margin-top: 20px;
    /* background: linear-gradient(#4c9aced3,transparent); */
    background: #649eac;
color: #fff;
    border-radius: 10px;
    box-shadow:  1px 2px 2px #0005, -2px -2px 3px #fff3;
    transition: .5s;

}
.messages.own{
    margin-left: 20vw;
    height: max-content;
    background: #0487a8;
    box-shadow: 1px 2px 2px #0005, -2px -2px 1px #fff7;
    border: 1px solid #0002;
    color: #fff;
}
.messages.own .messageText{
    color: #fff;
}
.messageTop{
    border-bottom: 2px solid #fff;
    padding: 5px;
    display: flex;
}
.messageTop p{
    padding: 5px;
    background: #0003;
    height: 65px;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 0;

}

.messageImg{
    position: relative;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.messageText{
    width: 70%;
    /* height: 100px; */
    overflow-wrap: break-word;
}



















/* .message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  transition: .5s;
}

.messageTop{
    display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
} */